@charset "UTF-8";

body {
  height: 100vh;
  width: 100vw;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}

div.container {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  background-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0.562),
    rgba(255, 255, 255, 0.151)
  );
}

header {
  display: flex;
  width: 100%;

  justify-content: space-between;
  align-items: center;
  z-index: 1;
  position: absolute;
}

header > nav {
  height: 80px;
  display: flex;
  align-items: center;
}

.logo {
  width: 80px;
  padding-left: 20px;
  margin-top: 10px;
}

header > nav > a {
  font-weight: bold;
  font-size: 16px;
  text-decoration: none;
  color: white;
  margin: 15px 30px 15px 15px;
  padding: 15px;
  border-radius: 30px;
}

a#login {
  margin: 0px;
  padding: 15px;
}

a#login:hover {
  text-shadow: 1px 1px 2px rgba(255, 217, 0, 0.5);
  font-size: 20px;
  background: rgba(236, 213, 83, 0.185);
  transition: 0.5s;
}

a#inscreva:hover {
  text-shadow: 1px 1px 2px rgba(255, 217, 0, 0.5);
  font-size: 20px;
  background: rgba(236, 213, 83, 0.185);
  transition: 0.2s;
  margin: 1px 16px 1px 2px;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 99vw;
  height: 100vh;
  position: relative;
}

main > video {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  position: absolute;
  z-index: -1;
}

main > img {
  margin-left: 7.5%;
  max-width: 25vw;
  opacity: 65%;
}

main > a {
  font-size: 20px;
  position: absolute;
  background-color: rgba(214, 182, 2, 0.322);
  padding: 15px 50px;
  border-radius: 40px;
  text-decoration: none;
  color: rgb(250, 238, 174);
  text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.747);
  top: 78%;
  left: 44%;
  transition: 0.7s;
}

main > a:hover {
  font-size: 28px;
  left: 42%;
  top: 78%;
  margin: 0 0 18px 0;
  background: rgb(184, 158, 12);
  color: white;
}

main > p {
  color: white;
  opacity: 40%;
  max-width: 29vw;
  margin-left: 6%;
  text-indent: 15px;
  font-size: 16px;
  text-align: justify;
}
